services:
  rabbitmq:
    image: rabbitmq:3.13.7-management-alpine
    ports:
      - "${APP_CONFIG__RABBITMQ__PORT}:${APP_CONFIG__RABBITMQ__PORT}"
      - "15672:15672" # RabbitMQ Management
    environment:
      RABBITMQ_DEFAULT_USER: ${APP_CONFIG__RABBITMQ__USER}
      RABBITMQ_DEFAULT_PASS: ${APP_CONFIG__RABBITMQ__PASSWORD}

  redis:
    image: redis:8.0.2-alpine
    ports:
      - "${APP_CONFIG__REDIS__PORT}:${APP_CONFIG__REDIS__PORT}"

  app:
    build: .
    ports:
      - "${APP_CONFIG__RUN__PORT}:${APP_CONFIG__RUN__PORT}"
    env_file:
      - ".env"
    depends_on:
      - rabbitmq
      - redis

  celery-worker:
    build: .
    env_file:
      - ".env"
    depends_on:
      - rabbitmq
      - redis
      - app
    command: celery -A core.celery_app.celery_app worker -l info